<ion-view view-title="Available Coupons">
  <ion-content class="contentPage">
       
    <div class="list couponslist" ng-repeat="c in coupons">
	   <a class="item item-icon-left item-icon-right">
	    <i class="icon ion-chatbubble-working"></i>
	    {{c.name}}&nbsp;<small ng-click="viewCoupon('{{c.id}}','{{c.couponcode}}','{{c.name}}','{{c.reduction}}','{{c.coupontype}}')">CODE</small><br><small>You save Rs:{{c.reduction}}/- on every {{c.coupontype}}</small>
	    <i class="icon ion-android-done" style="color: green" ng-click="viewCoupon('{{c.id}}','{{c.couponcode}}','{{c.name}}','{{c.reduction}}','{{c.coupontype}}')"></i>
	  </a>
	</div>

  </ion-content>
</ion-view>
